body {
}

#main-container
{
    width:100%; 
    height: 100%;
}

    #header-container
    {
        width:100%; 
        height: 100px;
        background-image: url("../Content/Images/header-bg-image.png");
    }
    
        #header
        {
            width: 800px;
            height: 100px;
            margin: 0 auto 0 auto;
            background-image: url("../Content/Images/header-image.png");
        }

    #menu-container 
    {
        width: 25%;
        position: absolute; 
        left: 0px; 
        background-color: #efefef;
        overflow: auto;
    }
    
    .side-container
    {
        height: 100%;
        margin: 0px;
        width: 20%;
    }
    
        #back-button
        {
            float: right; 
            width: 80%; 
            margin-top: 40px; 
            height: 50px; 
            background-color: #4878A8;
            color: White;
            text-align:center;
            line-height: 50px;
            font-size: 1.4em;
            visibility: hidden;
            cursor:pointer;
            box-shadow: 5px 5px 5px #888;
            -moz-box-shadow: 5px 5px 5px #888;
            -webkit-box-shadow: 5px 5px 5px #888;
        }
    
    #left
    {
        float: left;
    }
    
    #right
    {
        position: fixed;
        right: 0px;
    }

#content-container
{
    width: 100%;
    /*background-color: #efefef;*/
    float: none;
}

    #content
    {
        float: left;
        position: relative;
        background-color: white;
        /*border-left: 1px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;*/
        width: 60%;
        height: 100%;
    }
        
        #article-container 
        {
            z-index: 0;
            padding: 1px 1px 1px 1px;
        }
        
            #article
            {
                width: 688px;
                margin: 0 auto 0 auto;
                padding: 50px 1px 1px 1px;
            }
        
        .directory
        {
            background-color: White;
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 1px 0px 1px 0px;
        }
            
            .subdirectory
            {
                float: left;
                /*background-color: Blue;*/
                color: #487890;
                font-weight: bold;
                width: 150px;
                height: 75px;
                padding: 1px 0px 1px 0px;
                text-align: center;
            }
            
                .folder-name
                {
                    cursor: pointer;
                    width: 100%;   
                }
            
            .directory-headers
            {
                margin-left: 0px;
                color: #781800;
            }
            
            .article-list
            {
                list-style: none;
            }
            
                .article-list li
                {
                    margin-left: 0px;
                    width: 100%;
                    margin-bottom: 2px;
                }
                
                    .article-list li a
                    {
                        color: #F07830;
                        text-decoration: none;
                        font-weight: bold;
                    }
        
        .directory img
        {
        }
    
        .directory span
        {
            vertical-align: top;   
        }
        

.source-structure-container
{
    
}

.structure-container
{
    display: none;
    width: 300px;
}

    .structure-container ul
    {
        padding-left: 20px;
        margin: 0px;
        list-style-image: url("../Content/Images/File1.png");
        cursor: pointer;
    }  
    
        .structure-container ul li a
        {
            vertical-align: top;
        }
