@{
    ViewBag.Title = "Index";
}

<div id="main-container">
    <div id="header-container">
        <div id="header"></div>
    </div>
    <div id="content-container">
        <div id="left"></div>
        <div id="content">@Html.Raw(ViewBag.contentHtml)</div>
        <div id="back-button" onmouseover="updateNavButton(this.id)" 
                                onmouseout="updateNavButton(this.id)"
                                onclick="moveBack()">Back</div>
    </div>
</div>
